*{    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* color:#0F172Aff; */
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
h1,h3{
    font-family: 'Poppins', sans-serif;
    color: #0F172Aff;
}

body{
    background: linear-gradient(-45deg,#f3abef,#FBFBFEff,rgba(0, 106, 255, 0.34),#FBFBFEff);
    background-size: 800% 800%;
	animation: gradient 15s ease infinite;  
	height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 0;
    left: 50;
    right: 10;
}

nav ul li{
    font-size: 1rem;
    color: #0F172Aff;
    list-style-type:none;
    display: inline-block;
    margin-top: 5%;
    padding: 10px 20px;
    text-shadow: 0 0 25px white;
}

nav ul li:hover{
    background-color:#0F172Aff;
    color: #FBFBFEff;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.getStarted{
    width: 400px;
    margin-top: 5%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    padding: 0 16px;
    border-radius: 4px;
    color: #fff;
    background: #0F172Aff;
    line-height: 1.15;
    font-size: 14px;
    height: 36px;
    word-spacing: 0px;
    letter-spacing: .0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 64px;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.getStarted:hover {
    /* background: #16A6E9ff; */
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.container{
    width: 100%;
    height: 100vh;
}
.sections{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.swiper {
    width: 400px;
    height: 300px;
    background-color: rgb(15, 23, 42);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#swiper-2{
    width: 95%;
    height: 95vh;}

.swiper-parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    margin-right: 5%;
    padding-bottom: 5%;
    background-color: rgb(15, 23, 42);
}

#about-us{
    width: 100%;
    height: 100vh;
}

.about-txt-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%; /* set a desired width */
    max-width: 100%; /* ensure it doesn't exceed the parent width */
    height: 95vh; /* set a desired height, in this case, 80% of the viewport height */
    margin: auto; /* center it horizontally */
    border-radius: 20px;
    padding: 7.5%;
    background-color: rgb(15, 23, 42);
}


.about-text{
    color: #16A6E9ff;
    margin: 2.5%;
}

.about-image{
    width: 600px;
    margin: 2.5%;
    border-radius: 10px;
}

.about-para{
    padding: 0;
    margin: 0;
    font-weight: 300;
    color: white;
}

.swiper-txt-img{
    display: flex;
    flex-direction: row;
    padding: 7.5%;
}

.swiper-image{
    width: 700px;
    height: 450px;
    border-radius: 10px;
}

.swiper-h1{
    color: #16A6E9ff;
}

.typewriter{
    color: white;
}

.swiper-subtext{
    padding-left: 0;
    margin: 0;
    color: white;
}

:root {
    --swiper-navigation-color: #99A5B9ff;
  }
  

.homeimage{
    width: 400px;
    height: 300px;
    
}

.home-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    margin-right: 5%;
    padding-bottom: 5%;
}

#main-text{
    text-align: left;
    font-size: 6rem;
    font-weight: bold;
    /* text-shadow: 0 0 50px #; */
}

/* Our Services */
.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.services-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 150px;
}
.services-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#services-header{
    position: absolute;
    margin-bottom: 30%;
}

.goBack{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: #0F172Aff;
    position: absolute;
    bottom: -1400px;
    right: 50px;
    visibility: hidden;
}

.sub-text{
    text-align: left;
    font-weight: 400;
    padding-left: 1%;
    font-size: 1.75rem;
}

#sub-text:hover{
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    transition: 5s ease-in-out;
}



.options-text{
    text-align: center;
    margin:2.5%;
}

.options-text:hover{
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    transition: 5s ease-in-out;
}

.secondary-text{
    color: #0F172Aff;
    margin: 2.5%;
    text-align: center;
}

.secondary-text:hover{
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    transition: 5s ease-in-out;
}

.submit-button{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #16A6E9ff;
    height: 48px;
    margin: 1%;
}
.submit-button:hover{
    transform: scale(1.02);
    background-color: rgb(15, 98, 136);
    transition: 0.2s ease;
}

.form-box{
    
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: #0F172Aff;
    font-size: 16px;
    font-weight: 400;
    max-width: 200px;
    transition: all .2s ease;
    margin: 1%;
}
.form-box:hover{
    box-shadow: 0 0 0 0 #fff inset, #16A6E9ff 0 0 0 2px;
}

.form-box:focus{
    color: black;
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #16A6E9ff 0 0 0 3px;
}

#input-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form{
    text-align: center;
}
label{
    font-size: smaller;
    color: #0F172Aff;
}
.form-box-smaller{
    
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    /* color: rgb(0, 0, 0); */
    color:#0F172Aff;
    font-size: 16px;
    font-weight: 400;
    max-width: 200px;
    transition: all .2s ease;
    /* margin: 1%; */
}
.form-box-smaller:hover{    
    box-shadow: 0 0 0 0 #fff inset, #16A6E9ff 0 0 0 2px;
}

.form-box-smaller:focus{
    color: black;
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #16A6E9ff 0 0 0 3px;
}

.form-columns-container {
    display: flex; /* Use flexbox to align columns */
    justify-content: space-between; /* Space evenly between columns */
    flex-direction: column;

}

.form-column-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-column-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.registeration{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p{
    margin: 2.5%;
}

.flag-button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    /* padding: 17px 48px; */
    color: #fff;
    background-color: rgba(255, 2, 2, 0.697);
    height: 48px;
    margin: 1%;
}
.flag-button:hover{
    transform: scale(1.02);
    background-color: #700000;
    transition: 0.2s ease;
}

#flag-form{
    display: flex;
    flex-direction: column;
}

/* Footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 95%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.footer-sections{
    display: flex;
    flex-direction: column;
    width: 500px;
    scale: 80%;
}

.footer-sections ul li{
    list-style-type: none;
}

.footer-sections p{
    margin: 0;
}

#webcam{
    box-shadow: 0 0 0 0 #fff inset, #16A6E9ff 0 0 0 2px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes moving {
	0% {
		text-shadow: 0% 50%;
	}
	50% {
		text-shadow: 100% 50%;
	}
	100% {
		text-shadow: 0% 50%;
	}
}
