<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="sections">
            <h1 class="options-text">Admin Login</h1>
    <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} -->
    <form class="registeration" method="POST" action="/adminlogin">
        <label for="email">Email:</label>
        <input class="form-box-smaller" type="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input class="form-box-smaller" type="password" name="password" required>
        <br>
        <button class="submit-button" type="submit">Authenticate</button>
    </form>
    <p>Don't have an account? <a href="/register">Register here</a></p>
        </div>
    </div>
</body>
</html>
