<!DOCTYPE html>
<html>
<head>
    <title>Manual Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap" rel="stylesheet"></head>
<body>
    <h1 class="options-text">Manual Prediction</h1>
    <div class="container">
        <div class="sections">
            <form method="POST" action="/predict_manual">
                <div class="form-columns-container">
                    <div class="form-column-1">
                        <label for="profile_pic">Profile Picture (0 or 1):</label>
                        <input class="form-box-smaller" type="number" name="profile_pic" required>
            
                        <label for="nums_length_username">Numbers/Length of Username:</label>
                        <input class="form-box-smaller" type="number" name="nums_length_username" required>
            
                        <label for="fullname_words">Fullname Words:</label>
                        <input class="form-box-smaller" type="number" name="fullname_words" required>
            
                        <label for="nums_length_fullname">Numbers/Length of Fullname:</label>
                        <input class="form-box-smaller" type="number" name="nums_length_fullname" required>
            
                        <label for="name_equals_username">Name Equals Username (0 or 1):</label>
                        <input class="form-box-smaller" type="number" name="name_equals_username" required>
                    </div>
            
                    <div class="form-column-2">
                        <label for="description_length">Description Length:</label>
                        <input class="form-box-smaller" type="number" name="description_length" required>
            
                        <label for="external_url">External URL (0 or 1):</label>
                        <input class="form-box-smaller" type="number" name="external_url" required>
            
                        <label for="private">Private (0 or 1):</label>
                        <input class="form-box-smaller" type="number" name="private" required>
            
                        <label for="num_posts">Number of Posts:</label>
                        <input class="form-box-smaller" type="number" name="num_posts" required>
            
                        <label for="num_followers">Number of Followers:</label>
                        <input class="form-box-smaller" type="number" name="num_followers" required>
            
                        <label for="num_follows">Number of Follows:</label>
                        <input class="form-box-smaller" type="number" name="num_follows" required>
                    </div>            
                    <div style="clear: both;"></div> <!-- Clear float after columns -->
                        <input class="submit-button" id="submit-form-button" type="submit" value="Predict">
                </form>
                </div>
        </div>
    </div>
</body>
</html>